body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.top-section {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.links {
  display: flex;
  /* flex-direction: row; */
  gap: 2em;
  align-items: center;
  margin-right: 2em;
}

.cart-login-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-container {
  display: flex;
}

@font-face {
  font-family: Goth;
  src: url('/GravediggerPersonalUse-K7ayW.ttf') format('truetype');
}

h2 {
  font-family: 'Goth';
  font-size: 35px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

#product {
  /* margin-left: 300px; */
}

#product, #contact, #about{
  /* margin-right: 50px; Adjust spacing between links */
  font-family: 'Goth';
  font-size: 35px;
  font-weight: 600;
}

#about {
  /* margin-right: 200px; */
  /* font-size: 60px; */
}

#cart {
  font-size: 30px;
}

.cart-text {
  width: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: 30px; */
}

#sign-in {
  font-family: 'Goth';
  font-size: 35px;
  font-weight: 600;
}

#product:hover, #contact:hover, #about:hover, #sign-in:hover {
  filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.7));
}

.top-divider {
  margin-top: -25px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
}

.logo {
  /* margin-bottom: 25px; */
  margin-left: 2em;
}

.avatar-container {
  display: flex;
  flex-direction: column;
}

.avatar-icon {
  width: 64px;
  height: 64px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  margin-right: 32px;
}

.hamburger-container {
  display: flex;
  flex-direction: column;
}

.hamburger-menu-closed {
  right: -400px;
  transition: right 0.4s ease-out;
}

.hamburger-menu-open {
  right: 0px;
  transition: right 0.4s ease-in;
}

.hamburger-menu-icon {
  width: auto;
  height: auto;
  cursor: pointer;
  margin-right: 2em;
}

.hamburger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* top: 0; */
  margin-top: 75px;
  height: 100%;
  width: 400px;
  background-color: black;
  gap: 1em;
}

.hamburger-row {
  display: flex;
  z-index: 999;
  align-items: center;
  gap: 2em;
  transition: filter 0.3s;
  background-color: black;
}

.hamburger-row:hover {
  filter: brightness(0.5);
}

.hamburger-pic {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 20%;
  margin-left: 1em;
  padding: 15px;
}

.hamburger-text {
  font-family: 'Goth';
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.dropdown-menu-closed {
  right: -400px;
  transition: right 0.4s ease-out;
}

.dropdown-menu-open {
  right: 0px;
  transition: right 0.4s ease-in;
}

.dropdown-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* top: 0; */
  margin-top: 75px;
  height: 100%;
  width: 400px;
  background-color: black;
  gap: 1em;
}

.profile-row {
  display: flex;
  z-index: 999;
  align-items: center;
  gap: 2em;
  transition: filter 0.3s;
}

.profile-row:hover {
  filter: brightness(0.5);
}

.profile-pic {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 20%;
  margin-left: 1em;
  padding: 15px;
}

.profile-text {
  font-family: 'Goth';
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/41675.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.signup-card {
  display: flex; /* Use flexbox layout */
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 16px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, .3);
  @media screen and (max-width: 520px) {
    width: 96.156%;
  }
}

.signup-section {
  display: flex;
  width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 520px) {
    width: 68%;
  }
}

.signup-title {
  margin: 0;
  margin-bottom: 2em;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#email {
  /* margin-top: 70px; */
  font-size: 20px;
  height: 50px;
  width: 100%;
  padding: 0;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

#password {
  /* margin-top: 20px; */
  padding: 0;
  padding-right: 34px;
  padding-left: 0;
  font-size: 20px;
  height: 50px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

.password-field {
  display: flex;
  width: 100%;
  align-items: center;
}

.eye-icon {
  width: 17px;
  height: 10px;
  margin-left: -19px;
  cursor: pointer;
}

.error-message {
  color: rgb(167, 28, 28);
  font-size: 12px;
  height: 24px;
  width: 100%;
}

.signup-button {
  margin-top: 3em;
  border-radius: 8px;
  border: none;
  height: 60px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  background-color: rgb(25, 26, 26);
  color: rgb(226, 231, 231);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  transition: background-color 0.4s, color 0.4s;
}

.signup-button:active {
  background-color: rgb(52, 53, 53);
}

.redirect-to-login {
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

.hamburger-menu {
  /* position: absolute;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: black; */
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  width: 100%;
  height: 90em;
  margin-bottom: 1em;
  /* object-fit: contain; */
}

/* .clothes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
/* .shirt-section {
  display: flex;
  justify-content: center;
  width: 80%;
  border: 2px solid black;
} */

.section-name {
  text-align: center;
}

.shirts {
  align-items: center;
  justify-content: center;
  gap: 2%;
  display: grid;
  grid-template-columns: repeat(5, 254px);
  grid-gap: 2%;
  @media screen and (max-width: 1430px) {
    grid-template-columns: repeat(4, 254px);
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @media screen and (max-width: 1110px) {
    grid-template-columns: repeat(3, 254px);
  }
  @media screen and (max-width: 833px) {
    grid-template-columns: repeat(2, 254px);
    margin-top: 3em;
    margin-bottom: 4em;
  }
  @media screen and (max-width: 560px) {
    grid-template-columns: repeat(1, 254px);
    margin-top: 7em;
    margin-bottom: 12em;
  }
}

.cards {
  height: 400px;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  text-align: center;
}

.cards:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.img-border {
  width: 200;
  height: 300px;
  overflow: hidden;
}

.gothpants {
  width: 100%;
  transition: transform 0.3s;
}

.gothpants:hover {
  transform: scale(2.0);
}

.products-layout {
  display: flex;
  flex-direction: column;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 6em;
  @media screen and (max-width: 350px) {
    width: 100%;
  }
}

.filter-line {
  width: 330px;
  border-top-color: black;
  @media screen and (max-width: 350px) {
    width: 90%;
  }
}

.filter-button {
  padding: 20px 20px 20px 20px;
  width: 330px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 350px) {
    width: 90%;
  }
}

.filter-button:hover {
  background-color: black;
  color: white;
}

.filter-button:hover .down-arrow {
  border-color: white;
}

.clothes-section {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 284px);
  grid-gap: 20px;
  grid-auto-rows: 404px;
  @media screen and (max-width: 1510px) {
    grid-template-columns: repeat(4, 284px);
  }
  @media screen and (max-width: 1215px) {
    grid-template-columns: repeat(3, 284px);
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 284px);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 284px);
  }
}

.clothes-item {
  justify-content: start;
  align-items: center;
  border: 2px solid black;
  text-align: center;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.clothes-item:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.down-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  vertical-align: middle;
}

.stock-section {
  display: flex;
  flex-direction: column;
  margin-right: 220px;
  @media screen and (max-width: 350px) {
    margin-right: 0;
    align-items: start;
  }
}

.checkbox-container {
  display: flex;
  align-items: center; /* Align checkboxes to the top of each container */
  margin-bottom: 15px;
}

.stock-section {
  display: flex;
  flex-direction: column; /* Stack the checkbox containers vertically */
  font-family: Arial, Helvetica, sans-serif;
}

.price-items {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;
  vertical-align: middle;
  margin-right: 100px;
  @media screen and (max-width: 350px) {
    margin-right: 0;
    
  }
}

#from {
  width: 80px;
  height: 40px;
  text-align: center;
  margin-left: 10px;
  border: 2px solid black;
}

#to {
  width: 80px;
  height: 40px;
  text-align: center;
  margin-left: 25px;
  border: 2px solid black;
}

/* .image-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.paragraph {
  max-width: 700px;
  margin: 0 auto;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
} */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-image {
  height: 400px;
  width: 400px;
  @media screen and (max-width: 550px) {
    height: 72.73%;
    width: 72.73%;
  }
}

.about-description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 2;
  text-wrap: wrap;
  width: 500px;
  @media screen and (max-width: 550px) {
    width: 91%;
  }
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

form {
  @media screen and (max-width: 488px) {
    width: 95%;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some vertical spacing between input elements */
}

.form-input {
  width: 400px;
  height: 40px; /* Reduced height for input fields */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: start;
  padding: 10px; /* Added padding for better visual spacing */
  
}

.form-textarea {
  resize: none;
  font-size: 15px;
  min-height: 150px; /* Adjust as needed for the textarea height */
  padding: 10px; /* Added padding for better visual spacing */
}

.send-button {
  padding: 20px 60px; /* Added padding to the button for better appearance */
  background-color: black;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.send-button:active {
  background-color: rgb(29, 28, 28);
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.contact-title {
  text-align: center;
  margin: 0;
  font-family: 'Arial, Helvetica, sans-serif';
  @media screen and (max-width: 488px) {
    font-size: 26px;
    margin-left: 3em;
    margin-right: 3em;
  }
}

.item-container {
  width: 1000px;
  height: 800px;
  display: flex;
  margin: 0 auto;
}

.items-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.sections-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.sections-price {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.add-cart-button {
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 350px;
  height: 80px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.add-cart-button:hover {
  background-color: black;
  color: white;
}

.cart-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}

.checkout-button {
  display: flex;
  padding: 25px 100px;
  margin: 0 auto;
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  font-size: 20px;
}
.checkout-button:hover {
  background-color: black;
  color: white;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  @media screen and (max-width: 1100px) {
    gap: 5%;
  }
  @media screen and (max-width: 850px) {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
}

.quantity-input {
  border: solid 2px black;
  width: 250;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 140px; */
}

.minus-button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.plus-button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.quantity-text {
  height: 44px;
  width: 50px;
  text-align: center;
  color: black;
  border: none;
  outline: none;
  font-size: 18px;
}

.trash-can {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 20px; 
  height: 20px; 
  /* margin-left: 20px; */
  cursor: pointer;
}

.cart-item-title-price {
  /* margin-left: 50px; */
  width: 362.75px;
  height: 300px;
  @media screen and (max-width: 850px) {
    text-align: center;
    width: 280px;
    height: 100%;
  }
}

.cart-item-price {
  @media screen and (max-width: 850px) {
    text-align: center;
    margin-bottom: 0;
  }
}

.cart-item-title {
  font-family: Arial, Helvetica, sans-serif;
  @media screen and (max-width: 850px) {
    text-align: center;
    margin: 0;
  }
}

.first-hr,.second-hr {
  @media screen and (max-width: 850px) {
  }
}

.item-total {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 200px; */
}

.estimated-total-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.estimated-total{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 10px;
}

.estimated-stuff {
  text-align: center;
  margin-top: 20px;
}

.checkout-button {
  margin-top: 50px;
  cursor: pointer;
}

.confirmation-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  margin-right: -24px;
  z-index: -1;
  background-size: cover;
}

.profile-picker {
  z-index: 999;
  margin-bottom: -5px;
  opacity: 0.7;
}

.profile-name {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.section-changer {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 2em;
  border: 2px solid black;
  padding: 20px 0;
  width: 800px;
  border-bottom: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.3em;
  width: 200px;
}

.section-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.section-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.personal-info-section {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}

.info-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.info-input {
  width: 100%;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  height: 25px;
  text-align: center;
  font-size: 16px;
}

.update-button-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.update-button {
  color: white;
  background-color: black;
  border: none;
  padding: 20px 40px;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
  cursor: pointer;
}

.update-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.error-section {
  height: 32px;
  color: rgb(167, 28, 28);
  font-size: 16px;
  text-align: center;
}